
/*This will be largest media query  */
body {
  text-align: center;
  background-color: blanchedAlmond;
}
  /* * {
    border:1px solid black;
  } */
.todaysBeerH2{
  margin-top: 75px;
  border-bottom: .5px solid grey;
}

.beerPicture {
  text-align: center;
  height:600px;
  width:350px;
}

.sideBySide {
  padding:15px;
  justify-content: space-around;
  display:flex;
  flex-direction: row;
  margin:50px 200px;
    border:1px solid black;
}
.rightSideInfo {
  display: block;
}
small {
  margin:0 5px;
}
